
</div>
<!-- <div class="bottom-container"> -->
  <!-- <div class="compose-btn">
    <button class="btn btn-primary " onclick="window.open('/compose')">Compose</button>
  </div> -->

  <div class="footer-padding"></div>
    
    <div class="footer">
      
      <!-- <button class="btn btn-primary compose-btn" onclick="window.open('/compose')">Compose</button> -->
      <button class="btn btn-primary compose-btn" onclick="window.location.replace('/compose')">Compose</button>

      <p>Made with ❤️ by Bhakti J.</p>
    </div>
  </div>
<!-- </div> -->
  
</body>
</html>
